@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    background: hsl(47, 88%, 63%);
}

.container{
    border-radius: 1rem;
    padding: 1.5rem;
    border-style: solid;
    border-width: 0.1em;
    border-color: black;
    border-bottom: 0.5em solid;
    border-right: 0.5em solid;
    width: 20%;
    margin: auto;
    margin-top: 8%;
    background: hsl(0, 0%, 100%);
    font-weight: 500;
}

.desc{
    color: hsl(0, 0%, 42%);
}

.head{
    font-weight: 800;
    font-size: 22px;
}

.title-link{
    color: black;
    text-decoration: none;
}

.title-link:hover{
    color:hsl(47, 88%, 63%);
}

.title-link:active{
    color: blueviolet;
}

.attribution{
    margin-top: 1%;
}

.learn{
    background-color: hsl(47, 88%, 63%);
    width: max-content;
    height: auto;
    padding: 0.6rem;
    font-size: large;
    border-radius: 0.3rem;
}

.img-card{
    align-items: center;
    
}

svg{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.para{
    width: 100%;
    height: auto;
}

.author {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align items */
    gap: 10px; /* Space between the image and the text */
  }
  
  .avatar {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image is scaled properly */
  }
  
  .author-name {
    font-size: 16px; /* Adjust font size */
    color: #333; /* Text color */
    font-weight: bold; /* Make the name stand out */
  }
  